html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  background: #c7d1d8;
  color: #2a3a48;
  font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
}
a {
  color: #4794c4;
  text-decoration: none;
}
a:hover {
  color: #2a5e88;
}

.escolha {
  margin: 100px auto 0;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
p {
  width: inherit;
  margin: 5px 0;
  color: #999;
}

button {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
  display: block;
  width: inherit;
  font-size: 14px;
}

nav {
  margin-top: 15px;
}
nav a {
  display: inline-block;
  margin: 0 4px;
}

.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}

body > header {
  box-sizing: border-box;
  padding: 10px;
  z-index: 9;
  background: #445868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#445868), to(#2a3a48));
  background-image: -moz-linear-gradient(top, #445868, #2a3a48);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}

