@(aluno : models.Aluno, disciplinaForm: Form[models.Disciplina], planejador: models.Planejador)

@import helper._
@import play.api.libs.json.Json

@main("CSPlanner") {
<head>
	<script>
		function colorPeriodos() {
			var value = @aluno.getPlanoDoAluno().getPeriodoAtual();
			var periodos = @aluno.getPlanoDoAluno().getNumeroDePeriodos();
			for (var i = 0; i < value; i++) {
				document.getElementById(i.toString()).classList.add('passado');
			}
			document.getElementById(value).classList.add('atual');
			for (var j = value + 1; j < periodos; j++) {
				document.getElementById(j.toString()).classList.add('futuro');
			}
		}
	</script>
</head>
<body onload="colorPeriodos()" >
	<table width="100%">
		<tr width="10%">
			<table class="well" width="100%">
				<tr>
        			<td width="86%">
						<h1><small><a>CSPlanner</a></h1></small>
					</td>
           			<td width="5%" valign="top">
        				@form(routes.Application.search()) {
        					<input type="submit" class="btn btn-info" value="Voltar">
        				}
        			</td>
        		</tr>
        	</table>
		</tr>
		<tr width="10%">
		<table width="98%">
			<tr valign="top">
				<td width="1%"></td>
				<td width="59%">
					<h3>@aluno.getName()<br>
					<small>@aluno.getEmail()</small></h3>
				</td>
				<td width="25%" align="right">
					<table class="estatisticas">
						<tr>
							<td><h5>Créditos pagos:
								<small>@planejador.estatisticasDoAluno(aluno).get("creditosPagos")</small></h5>
							</td>
						</tr>
						<tr>
							<td><h5>Créditos em curso:
								<small>@planejador.estatisticasDoAluno(aluno).get("creditosEmCurso")</small></h5>
							</td>
						</tr>
						<tr>
							<td><h5>Créditos planejados: 
								<small>@planejador.estatisticasDoAluno(aluno).get("creditosPlanejados")</small></h5>
							</td>
						</tr>
					</table>
				</td>		
			</tr>
		</table> 
		</tr>
		<tr width="80%">
			
<div class="container-fluid">
		<table width="100%">
		<tr>
		<td width="85%" valign="top">
		<div align="center" class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div  id="0" class="caption" >
						<h3>
							1° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(0).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(0).getDificuldadeDoPeriodo()</div>						  
						</ul>

						<div  class="periodo connected" ondrop="drop(event, 1)" ondragover="allowDrop(event)" >
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(0).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 0)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 0)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="1" class="caption">
						<h3>
							2° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(1).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(1).getDificuldadeDoPeriodo()</div>
						</ul>

						<div class="periodo connected" ondrop="drop(event, 2)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(1).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno,disciplina,1)){
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 1)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="2" class="caption">
						<h3>
							3° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(2).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(2).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 3)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(2).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 2)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 2)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="3" class="caption">
						<h3>
							4° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(3).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(3).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 4)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(3).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 3)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 3)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="4" class="caption">
						<h3>
							5° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(4).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(4).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 5)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(4).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 4)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 4)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	


		<div class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="5" class="caption">
						<h3>
							6° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(5).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(5).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 6)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(5).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 5)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 5)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="6" class="caption">
						<h3>
							7° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(6).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(6).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 7)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(6).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 6)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 6)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="7" class="caption">
						<h3>
							8° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(7).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(7).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 8)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(7).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 7)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 7)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="8" class="caption">
						<h3>
							9° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(8).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(8).getDificuldadeDoPeriodo()</div>
						</ul>
						<div class="periodo connected" ondrop="drop(event, 9)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(8).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 8)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 8)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="9" class="caption">
						<h3>
							10° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked " >
							<div class="creditos">Total de Créditos: @aluno.getPlanoDoAluno().getPeriodo(9).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getPlanoDoAluno().getPeriodo(9).getDificuldadeDoPeriodo()</div>
						</ul>

						<div class="periodo connected" ondrop="drop(event, 10)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getPlanoDoAluno().getPeriodo(9).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 9)) {
									<div align="center" style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 9)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div align="center" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>

					</div>
				</div>
			</div>
		</div>
	</td>
	</tr>
	</table>
</div>
</tr>
</table>
</body>

}
