@(aluno : models.Aluno ,disciplinaForm: Form[models.Disciplina], planejador: models.Planejador)

@import helper._

@main("CSPlanner") {

<head>
        <h1><small><div class="well">Ciência da Computação - Grade do Curso</div></h1></small>
        <script>
        function valida(){
			var periodoAlocado = document.getElementById("periodoAlocado").value;  
			var form = document.forms['teste'];
			var checkboxes = form.elements;
			for (i=0; i < checkboxes.length; i++){
				if (checkboxes[i].type.toLowerCase() == 'checkbox' && checkboxes[i].checked){                             
					window.location.replace = '/matriculaNaDisciplina/'+ periodoAlocado + '/' + checkboxes[i].id;   
				}
			}
		}
        </script>
</head>

<body>
<div class="container-fluid">

                <div class="row">
                        <div style="float: left; WIDTH: 100%">
                                <div class="thumbnail">
                                        <div class="caption">
                                                <h3>
                                                        Disciplinas para Ciência da Computação
                                                </h3>
                                                <h6>(Você verá as disciplinas que você ainda pode se matricular)</h6>
                                                <h4>Nome da Disciplina | Número de Créditos | Dificuldade da Disciplina</h4>
                                                <p>
												<form id="teste">
                                                @for(disciplina <- planejador.getGrade().getDisciplinasDoCurso()) {
                                                        @if(!planejador.getTodasDisciplinasDoAluno(aluno).contains(disciplina)) {
                                                                 <ul class="nav nav nav-stacked">
                                                                    <li>
                                                                            <li class="list-group">
																				<input type="checkbox" id=@disciplina.getNome() name=@disciplina.getNome() value=@disciplina.getNome()>
                                                                                    @disciplina.getNome()
                                                                                    <span class="badgeC">@disciplina.getCreditos()</span>
                                                                                 	<span class="badgeD">@disciplina.getDificuldade()</span>
                                                                                   <br>
																			</li>
                                                            </li>
                                                          </ul>
                                                        }
                                                }
                                                </form>
                                                </p>
                                        </div>
                                </div>
                        </div>
</div>

</body>

       
  
	<input name="periodoAlocado" type="text" id="periodoAlocado">
	@form(routes.Application.index()) {
		<input type="submit" class="btn btn-success" value="Adicionar disciplina" onClick="valida();">
  	}

	<p>
	@form(routes.Application.index()) {
		<input type="submit" class="btn btn-info" value="Voltar para a página inicial">
	}
	
	</p>
  

}
