@(aluno : models.Aluno ,disciplinaForm: Form[models.Disciplina], planejador: models.Planejador)

@import helper._

@main("Planejador de curso") {

<head>
        <h1><small><div class="well">Ciência da Computação - Grade do Curso</div></h1></small>
</head>

<body>
<div class="container-fluid">

                <div class="row">
                        <div style="float: left; WIDTH: 100%">
                                <div class="thumbnail">
                                        <div class="caption">
                                                <h3>
                                                        Disciplinas para Ciência da Computação
                                                </h3>
                                                <h6>(Você verá as disciplinas que você ainda pode se matricular)</h6>
                                                <h4>Nome da Disciplina | Número de Créditos | Dificuldade da Disciplina</h4>
                                                <p>
                                                
                                                @for(disciplina <- planejador.getGrade().getDisciplinasDoCurso()) {
                                                        @if(!planejador.getTodasDisciplinasDoAluno(aluno).contains(disciplina)) {
                                                                 <ul class="nav nav nav-stacked">
                                                                    <li>
                                                                      <a href="#">
                                                                        <form>
                                                                            <li class="list-group">
																				<input type="checkbox" name="vehicle" value= @disciplina.getNome()>
                                                                                    @disciplina.getNome()
                                                                                    <span class="badge">@disciplina.getCreditos()</span>
                                                                                 	<span class="badge">@disciplina.getDificuldade()</span>
                                                                                   <br>
																			</li>
                                                                        </form>
                                                              </a>
                                                            </li>
                                                          </ul>
                                                        }
                                                }
                                                </p>
                                        </div>
                                </div>
                        </div>
</div>

    <script>
        function valida(){
        periodoAlocado = document.getElementById("periodoAlocado").value       
        var aChk = document.getElementsByName("vehicle");
            
            for (var i=0;i<aChk.length;i++){
                if (aChk[i].checked == true){                                
                                								
                                var xmlHttp = null;
                                xmlHttp = new XMLHttpRequest();
                                xmlHttp.open( "GET", "/matriculaNaDisciplina/"+periodoAlocado+"/"+aChk[i].value, false );
                                xmlHttp.send( null );
                               
                                
                }
            }
        }
        </script>
</body>

       
  
	<input name="periodoAlocado" type="text" id="periodoAlocado" />
	@form(routes.Application.index()) {
		<input type="submit" class="btn btn-success" value="Adicionar disciplina" onClick = "return valida()">
  	}

	<p>
	@form(routes.Application.index()) {
		<input type="submit" class="btn btn-info" value="Voltar para a página inicial">
	}
	
	</p>
  

}
