@(aluno : models.Aluno, disciplinaForm: Form[models.Disciplina], planejador: models.Planejador)

@import helper._
@import play.api.libs.json.Json

@main("CSPlanner") {

	
<head>	
	<script>
		function allowDrop(ev)
		{
			ev.preventDefault();
		}
		
		function drag(ev)
		{
			ev.dataTransfer.setData("Text", ev.target.id);
		}
		
		function drop(ev, periodo)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");			
			location.href = '/matriculaNaDisciplina/'+ periodo + '/' + disciplina;
		}

		function drop(ev, periodo)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");			
			location.href = '/matriculaNaDisciplina/'+ periodo + '/' + disciplina;
		}

		function dropRemove(ev)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");	
			var transfere = window.confirm("Ao desalocar esta disciplina você estará desalocando" +
			"\nas disciplinas dela dependentes.");
			if (transfere) {
				location.href = '/removerDisciplina/' + disciplina;
			}
			else {
				location.href = '/'
			}		
		}

		function selecionaPeriodo(value) 
		{	
			location.href = '/selecionarPeriodo/' + value; 
		}

		function colorPeriodos() {
			var value = @aluno.getPeriodoAtual();
			var periodos = @aluno.getListaDePeriodos().size();
			for (var i = 0; i < value; i++) {
				document.getElementById(i.toString()).classList.add('passado');
			}
			document.getElementById(value).classList.add('atual');
			for (var j = value + 1; j < periodos; j++) {
				document.getElementById(j.toString()).classList.add('futuro');
			}
		}
		
	</script>
	<h1><small><div class="well"><a>CSPlanner</a></div></h1></small>
	<p>
        <dd>
        	<table width="100%">
        		<tr>
        			<td width="85%">
        			</td>
        			<td width="5%">
        				<a href="@routes.Application.logout()">Sair</a>
        			</td>
        		</tr>
        	</table>
        </dd>
    </p>
</head>
<body onload="colorPeriodos()" >
	<table width="98%">
		<tr><div class="thumbnail">
			<div class="btn-group">
				@form(routes.Application.verGrade()) {
    				<input type="submit" class="btn btn-info" value="Ver grade do curso">
   				}
   			</div>
		</div></tr>
		<tr><td width="60%"><div>
			<h2><small>Selecione o período que você está cursando atualmente:</small></h2>
				<input type="submit" class="btn btn-info" value="1" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="2" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="3" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="4" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="5" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="6" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="7" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="8" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="9" onclick="selecionaPeriodo(this.value-1)">
				<input type="submit" class="btn btn-info" value="10" onclick="selecionaPeriodo(this.value-1)">
			<br><br>				
		</div></td>
		<td width="25%" align="left">
			<table class="thumbnail">
				<tr>
					<td><h5>Créditos pagos: </h5>
						<h3><small>@aluno.estatisticasDoAluno().get("creditosPagos")</small></h3>
					</td>
					<td><h5>Créditos em curso: </h5>
						<h3><small>@aluno.estatisticasDoAluno().get("creditosEmCurso")</small></h3>
					</td>
					<td><h5>Créditos Planejados: </h5>
						<h3><small>@aluno.estatisticasDoAluno().get("creditosPlanejados")</small></h3>
					</td>
				</tr>
			</table>
		</td>		
		</tr>
		
	</table>
   		 
			
<div class="container-fluid">
		<table width="100%">
		<tr>
		<td width="85%" valign="top">
		<div class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="0" class="caption" >
						<h3>
							1° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(0).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(0).getDificuldadeDoPeriodo()</div>						  
						</ul>

						<div class="periodo connected" ondrop="drop(event, 1)" ondragover="allowDrop(event)" >
							@for(disciplina <- aluno.getListaDePeriodos().get(0).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 0)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 0)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="1" class="caption">
						<h3>
							2° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(1).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(1).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(1).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>

						<div class="periodo connected" ondrop="drop(event, 2)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(1).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno,disciplina,1)){
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 1)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="2" class="caption">
						<h3>
							3° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(2).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(2).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(2).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 3)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(2).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 2)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 2)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="3" class="caption">
						<h3>
							4° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(3).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(3).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(3).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 4)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(3).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 3)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 3)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="4" class="caption">
						<h3>
							5° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(4).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(4).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(4).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 5)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(4).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 4)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 4)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	


		<div class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="5" class="caption">
						<h3>
							6° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(5).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(5).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(5).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 6)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(5).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 5)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 5)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="6" class="caption">
						<h3>
							7° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(6).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(6).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(6).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 7)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(6).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 6)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 6)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="7" class="caption">
						<h3>
							8° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(7).getDificuldadeDoPeriodo()</div>
						  
							@if(!aluno.getListaDePeriodos().get(7).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(7).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 8)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(7).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 7)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 7)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="8" class="caption">
						<h3>
							9° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(8).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(8).getDificuldadeDoPeriodo()</div>
						 
							@if(!aluno.getListaDePeriodos().get(8).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(8).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 9)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(8).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 8)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 8)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div id="9" class="caption">
						<h3>
							10° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked " >
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(9).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(9).getDificuldadeDoPeriodo()</div>
						    
							@if(!aluno.getListaDePeriodos().get(9).numeroDeCreditosValido()){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui @aluno.getListaDePeriodos().get(9).tipoValidacao() créditos que o permitido!
							</div>
							}
						</ul>

						<div class="periodo connected" ondrop="drop(event, 10)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(9).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 9)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)"
									title="Pré-requisitos não satisfeitos: @planejador.getRequisitosNaoPreenchidos(aluno, disciplina, 9)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>

					</div>
				</div>
			</div>
		</div>
	</td>
	<td width="20%" valign="top">
		<div class="desalocadas" width="100%" align="center" ondrop="dropRemove(event)" ondragover="allowDrop(event)">
			<h3>
				Disciplinas não alocadas
			</h3>
			<ul class="info-ul">
			<li class="info">
				<strong>Para desalocar disciplinas arraste-as aqui.
				Para aloca-las arraste para o período escolhido.</strong>
			</li>
			</ul>
			 @for(disciplina <- planejador.getGrade().getDisciplinasDoCurso()) {
                  @if(!planejador.getTodasDisciplinasDoAluno(aluno).contains(disciplina)) {
						
						<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
							@disciplina.getNome()
							<span class="badgeC">@disciplina.getCreditos()</span>		
							<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
							</div>
				  }
			}
		</div>
	</td>
	</tr>
	</table>
</div>
</body>

}
