@(aluno : models.Aluno, disciplinaForm: Form[models.Disciplina], planejador: models.Planejador)

@import helper._

@main("CSPlanner") {

	
<head>	
	<script>
		function allowDrop(ev)
		{
			ev.preventDefault();
		}
		
		function drag(ev)
		{
			ev.dataTransfer.setData("Text", ev.target.id);
		}
		
		function drop(ev, periodo)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");			
			location.href = '/matriculaNaDisciplina/'+ periodo + '/' + disciplina;
		}

		function drop(ev, periodo)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");			
			location.href = '/matriculaNaDisciplina/'+ periodo + '/' + disciplina;
		}

		function dropRemove(ev)
		{	
			ev.preventDefault();
			var disciplina = ev.dataTransfer.getData("Text");	
			var transfere = window.confirm("Ao desalocar esta disciplina você estará desalocando" +
			"\nas disciplinas dela dependentes.");
			if (transfere) {
				location.href = '/removerDisciplina/' + disciplina;
			}
			else {
				location.href = '/'
			}		
		}

		
	</script>
	<h1><small><div class="well"><a>CSPlanner</a></div></h1></small>
	<p>
        <dd>
            <div align="right" style="width: 1330px;">
            <a href="@routes.Application.logout()">Sair</a> 
            </div>
        </dd>
    </p>
</head>
<body>
	<div class="thumbnail">
	<div class="btn-group">
		  @form(routes.Application.verGrade()) {
    			<input type="submit" class="btn btn-info" value="Ver grade do curso">
   		 }	
   	@************************************************************************************	 
   	*	 @form(routes.Application.selecionarDisciplinas()) {							*
   	*	 	<input type="submit" class="btn btn-info" value="Disciplinas do Curso">		*
   	*	 }																				*
	************************************************************************************@
   	</div>
	</div>
   		 
			
<div class="container-fluid">
		<table width="100%">
		<tr>
		<td width="85%" valign="top">
		<div class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							1° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(0).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(0).getDificuldadeDoPeriodo()</div>						  
						</ul>

						<div class="periodo connected" ondrop="drop(event, 1)" ondragover="allowDrop(event)" >
							@for(disciplina <- aluno.getListaDePeriodos().get(0).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 0)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							2° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(1).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() < 14){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>

						<div class="periodo connected" ondrop="drop(event, 2)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(1).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno,disciplina,1)){
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							3° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(2).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(1).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 3)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(2).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 2)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							4° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(3).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(2).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 4)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(3).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 3)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							5° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(4).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(3).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 5)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(4).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 4)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	


		<div class="row">
			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							6° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(5).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(4).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 6)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(5).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 5)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>
										<span class="badgeD">@disciplina.getDificuldade()</span>									    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							7° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(6).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(5).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 7)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(6).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 6)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							8° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(7).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(6).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 8)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(7).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 7)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							9° Período
						</h3>
						<p>
						  <ul class="nav nav-pills nav-stacked ">
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(8).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(8).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() < 14 || aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() > 28){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada deve ser alocado aqui!</strong> O período anterior está irregular.
							</div>
							}
							@if(aluno.getListaDePeriodos().get(8).getNumeroDeCreditosDoPeriodo() < 14 && aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-danger alert-dismissable">
							  
							  <strong>Espere!</strong> Você não completou a quantidade mínima de créditos!
							</div>
							}
							@if(aluno.getListaDePeriodos().get(8).getNumeroDeCreditosDoPeriodo() > 28 && aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() > 13 && aluno.getListaDePeriodos().get(7).getNumeroDeCreditosDoPeriodo() < 29){
							<div class="alert alert-warning alert-dismissable">
							  
							  <strong>Ops!</strong> Você possui mais créditos que o permitido!
							</div>
							}
						</ul>
						<div class="periodo connected" ondrop="drop(event, 9)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(8).getDisciplinas()) {
								 @if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 8)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>
					</div>
				</div>
			</div>

			<div style="float: left; WIDTH: 20%">
				<div class="thumbnail">
					<div class="caption">
						<h3>
							10° Período
						</h3>
						<p>
						<ul class="nav nav-pills nav-stacked " >
							<div class="creditos">Total de Créditos: @aluno.getListaDePeriodos().get(9).getNumeroDeCreditosDoPeriodo()</div>
							<br>
						    <div class="dificuldade">Dificuldade do período: @aluno.getListaDePeriodos().get(9).getDificuldadeDoPeriodo()</div>
						    
							@if(aluno.getListaDePeriodos().get(8).getNumeroDeCreditosDoPeriodo() < 14){
							<div class="alert alert-info alert-dismissable">
							  
							  <strong>Nada dever ser alocado aqui!</strong> Você não completou o período anterior.
							</div>
							}
						</ul>

						<div class="periodo connected" ondrop="drop(event, 10)" ondragover="allowDrop(event)">
							@for(disciplina <- aluno.getListaDePeriodos().get(9).getDisciplinas()) {
								@if(planejador.verificaPeriodoDiferenteDosRequisitos(aluno, disciplina, 9)) {
									<div style="background:#FF0000;" id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>	
										<span class="badgeD">@disciplina.getDificuldade()</span>								    								  
									</div>
								 
								} else {
									<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
										@disciplina.getNome()
										<span class="badgeC">@disciplina.getCreditos()</span>		
										<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
									</div>
							    }
							}
						</div>
						</p>

					</div>
				</div>
			</div>
		</div>
	</td>
	<td width="20%" valign="top">
		<div class="desalocadas" width="100%" align="center" ondrop="dropRemove(event)" ondragover="allowDrop(event)">
			<h3>
				Disciplinas não alocadas
			</h3>
			<ul class="info-ul">
			<li class="info">
				<strong>Para desalocar disciplinas arraste-as aqui.
				Para aloca-las arraste para o período escolhido.</strong>
			</li>
			</ul>
			 @for(disciplina <- planejador.getGrade().getDisciplinasDoCurso()) {
                  @if(!planejador.getTodasDisciplinasDoAluno(aluno).contains(disciplina)) {
						
						<div id="@disciplina.getNome()" class="list-group" draggable="true" ondragstart="drag(event)">
							@disciplina.getNome()
							<span class="badgeC">@disciplina.getCreditos()</span>		
							<span class="badgeD">@disciplina.getDificuldade()</span>							    								  
							</div>
				  }
			}
		</div>
	</td>
	</tr>
	</table>
</div>
</body>

}
