@(form: Form[models.User])

<html>
    <head>
        <title>CSPlanner</title>
       <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.login" id="logo"><span>CS</span>Planner</a>
        </header>
    
    	@helper.form(routes.Application.authenticate) {
    		<img src="@routes.Assets.at("images/slogan.png")" width="200" height="160" />
		   <h1>Sign in</h1>
		   @if(form.hasGlobalErrors) {
  			  <p class="error">
       			 @form.globalError.message
 		   	  </p>
		   }
		   @if(flash.contains("success")) {
   			 <p class="success">
       		 @flash.get("success")
    		 </p>
		   }
		   <p>
		       <input type="email" name="email" placeholder="e-mail" value="@form("email").value">
		   </p>
		   <p>
		       <input type="password" name="password" placeholder="Password">
		   </p>
		   <p>
		       <button type="submit">Login</button>
		   </p>
		 
		}
		
		  <p>
		   		@helper.form(routes.Application.cadastrarNovoUsuario()) {
		   			<h1>Crie uma nova conta</h1>
		       		<button type="submit">Sign Up</button>
		        }
		   </p>
    </body>
</html>