@(alunos: List[models.Aluno])

@import helper._

<html>
    <head>
        <title>CSPlanner</title>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/escolha.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.login" id="logo"><span>CS</span>Planner</a>
        </header>
        </br>
        
        <h1>Alunos cadastrados no sistema de acordo com a sua pesquisa</h1>
        </br>
        <div class = "well">
        
        	@for(aluno <- alunos) {
        		<a href = "@routes.Application.look(aluno.getEmail())">
        			<h1>@aluno.getName()</h1>
        		</a>
        		
        		</br>
        	}
        </div>
 		</br>       
       	 @form(routes.Application.index()) {
    			<input type="submit" value="Voltar para página inicial">
   		 }	
        
   </body>

</html>
